.show {
  display: block;
}

.d-none {
  display: none;
}

.showmore {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px px;
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: #1976d2;
  align-items: center;
  -webkit-box-pack: center;
  user-select: none;
  vertical-align: middle;
}
